# .env.example
POSTGRES_PASSWORD=changeme
ANALYTICS_PIPELINES_DIR=/data/pipelines
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=changeme
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
LIGHTDASH_SECRET=changeme
DEEPSEEK_API_KEY=xxx
VANNA_API_KEY=xxx
VANNA_MODEL=xxx